<mat-card>
    <form (submit)="onAdPost(postForm)" #postForm="ngForm">
            <mat-form-field>
                    <input 
                    placeholder="post Title"
                    required matInput type="text" #title="ngModel" ngModel name="title" >
                    <mat-error *ngIf="title.invalid">Please enter post title</mat-error>
                </mat-form-field>
            <mat-form-field>
                <textarea 
                placeholder="Post Content"
                required matInput rows="4"name="content" #content="ngModel" ngModel></textarea>
                <mat-error *ngIf="content.invalid">Please enter post title</mat-error>
            </mat-form-field>
            <button color="primary" mat-raised-button type="submit">save</button>
        
    </form>

</mat-card>